
/*! Actual CSS */

.hero {
	min-height: 100vh;
	margin-top: none;
	margin-bottom: none;
}


.banner {
	background-image: url("./images/refinery.png");
	background-repeat: no-repeat;
	background-position: center, center;
	background-size: cover;

	display: flex;
}

.white {
	color: #fff;
}

.banner h1 {
	font-size: 3em;
}

#bigpointer {
	cursor: zoom-in;
}

#bigvid {
	cursor: zoom-out;
}

#bigvid * {
	cursor: zoom-out;
}